/* src/App.css */
.container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}


.list-box {
  align-items: center;
  width: 400px;
  margin: 0 auto;
  height: 100vh;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 0 2px 8px white
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.list-item:last-child {
  border-bottom: none;
}

.delete-btn {
  padding: 6px 10px;
  background-color: darkmagenta;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}
