.counter-container {
    border: 1px solid #222;
    padding: 17px;
    margin: 20px auto;
    max-width: 700px;
    background: #fff;
}
.counter-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
    min-height: 80px;
    font-size: 2em;
    margin-bottom: 10px;
}
.char-count {
    font-weight: bold;
}
